body {
    font-family: sans-serif;
    background-color: #222222;
    background-image: url('https://mclaunch.github.io/mcupdate/images/bg_main.png');
    color: #e0d0d0;
    padding: 16px;
    padding-top: 4px;
}
a {
    color: #aaaaff;
    text-decoration: underline;
}
hr {
   border: 0;
   color: #111111;
   background-color: #111111;
   height: 2px;
}
h3.post-title {
    color: #ffffff;
    /*font-size: 16px;*/
}
.post-text {
    /*font-size: 16px;*/
}
img {
    border: 0;
    margin: 0;
}
.alert {
    background-color: #aa0000;
    color: #ffffff;
    font-weight: bold;
    padding: 6px 10px;
    width: 500px;
}
